<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="Volver" routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-body">
    <section *ngIf="usuario.patente != ''" style="margin: 1.5vh 0vh;">
      <ion-item>
        <div style="display: flex; flex-direction: column; align-items: center; margin: 0vh 4vh;"
          (click)="_router.navigate(['viajes'])">
          <ion-icon name="list-outline" style="width: 4vh; height: 4vh;"></ion-icon>
          <ion-label>Todos los Viajes</ion-label>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; margin: 0vh 4vh;">
          <ion-icon name="car-outline" style="width: 4vh; height: 4vh;"></ion-icon>
          <ion-label>Tus Viajes</ion-label>
        </div>
      </ion-item>
    </section>
    <section class="resumen-lista-viajes" *ngIf="viajes.length > 0; else notEnoughtViajes">
      <!--? ngFor -->
      <ion-item style="border: 1px solid; border-radius: 1vh; margin: 0.75vh 0vh;" *ngFor="let viaje of viajes; index as x">
        <ion-label>
          <p style="margin-bottom: 0.5vh;">
            {{viaje.translatedDate}}
          </p>
          <span style="margin: 0.25vh 0vh;">{{viaje.destino}}</span>
          <p style="margin-top: 0.5vh;">
            {{viaje.capacidad - viaje.pasajeros.length}} Disponible(s) | ${{viaje.precio}} de Tarifa
          </p>
          <!--? Estado del Viaje -->
          <p *ngIf="viaje.estatus == 'Completado'"
          style="color: var(--ion-color-success); font-size: 2vh; margin-bottom: 1vh; display: flex;
          align-items: center;">
            <ion-icon name="checkmark-circle-outline" style="margin-right: 0.5vh;"></ion-icon> {{viaje.estatus}}
          </p>
          <p *ngIf="viaje.estatus == 'Pendiente'" style="color: var(--ion-color-warning); font-size: 2vh;
          margin-bottom: 1vh; display: flex; align-items: center;">
            <ion-icon name="time-outline" style="margin-right: 0.5vh;"></ion-icon> {{viaje.estatus}}
          </p>
          <p *ngIf="viaje.estatus == 'Cancelado'" style="color: var(--ion-color-danger); font-size: 2vh;
          margin-bottom: 1vh; display: flex; align-items: center;">
            <ion-icon name="close-circle-outline" style="margin-right: 0.5vh;"></ion-icon> {{viaje.estatus}}
          </p>
          <!--? Detalles -->
          <a (click)="seeViajeDetails(viaje.id)">Ver información completa</a>
        </ion-label>
      </ion-item>
      <!--? Fin ngFor -->
    </section>
    <ng-template #notEnoughtViajes>
      <div
        style="margin: 2.5vh 0vh; display: flex; flex-direction: column; align-content: center; justify-content: center; align-items: center;">
        <span style="color: red; text-align: center;">No has programado ningún viaje</span>
        <a (click)="_router.navigate(['programar-viaje'])" style="text-align: center; margin: 1vh 0vh;">¿Deseas
          programar uno nuevo?</a>
      </div>
    </ng-template>
  </div>
</ion-content>