<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="Volver" default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-body">
    <span class="title">Programar un Viaje</span>
    <span class="subtitle">Por favor rellene los campos con los datos correspondientes</span>
    <form #unviaje="ngForm" (ngSubmit)="onSubmit()">
      <ion-item style="margin: 2vh 0vh;">
        <ion-label position="stacked">Ingresa el destino</ion-label>
        <ion-input type="text" placeholder="Los Copihues, Talcahuano" name="destino" [(ngModel)]="viaje.destino"
          mode="ios" required></ion-input>
      </ion-item>
      <ion-item style="margin: 2vh 0vh;">
        <ion-label position="stacked">Ingresa el precio</ion-label>
        <ion-input type="number" placeholder="2500" name="precio" [(ngModel)]="viaje.precio" mode="ios" required min="1000">
        </ion-input>
      </ion-item>
      <ion-item style="margin: 2vh 0vh;">
        <ion-label position="stacked">Ingresa la capacidad</ion-label>
        <ion-input type="number" placeholder="4" name="capacidad" [(ngModel)]="viaje.capacidad" mode="ios" required max=10 min=1>
        </ion-input>
      </ion-item>
      <ion-item style="margin: 2vh 0vh;">
        <ion-label position="stacked">Selecciona una Fecha y Hora</ion-label>
        <ion-datetime-button style="margin-top: 1vh;" datetime="datetime">
          <span slot="time-label">Hora</span>
        </ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" name="fecha" #fecha locale="es-CL" hourCycle="h23"
              min="{{hoy}}"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item style="margin: 2vh 0vh;">
        <ion-label position="stacked">Descripción (opcional)</ion-label>
        <ion-textarea name="descripcion" [(ngModel)]="viaje.descripcion"
          placeholder="Auto de marca ... y color ..., estacionado en ..." mode="ios"></ion-textarea>
      </ion-item>
      <ion-button [disabled]="unviaje.invalid" type="submit" expand="block" fill="clear" shape="round">
        Agregar
      </ion-button>
    </form>
  </div>
  <!--* Plantilla para listar Viajes
            <ion-item-sliding>
              <ion-item>
                <ion-label>
                  <p style="margin-bottom: 0.5vh;">
                    Martes 23 de Nov. 14:30
                  </p>
                  <span style="margin: 0.25vh 0vh;">Los Copihues, Talcahuano</span>
                  <p style="margin-top: 0.5vh;">
                    4 Disponibles | $1.500 de Tarifa
                  </p>
                </ion-label>
              </ion-item>
              <ion-item-options>
                <ion-item-option color="danger">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            -->
</ion-content>