<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="Volver" default-href="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="page-body">
    <span>Registro de Usuario</span>
    <form name="registerform" #registerform="ngForm" (ngSubmit)="onSubmit()" class="registrarse">
      <ion-item>
        <ion-label position="stacked">Correo Institucional</ion-label>
        <div class="correo-input">
          <ion-input style="max-width: 50%;" required name="correo" clear-input mode="ios" [(ngModel)]="credenciales.correo"
            placeholder="je.conuel" pattern="^([a-zA-Z]+)\.([a-zA-Z]+)[^@]"></ion-input>
          <ion-list>
            <ion-item>
              <ion-select required interface="popover" placeholder="¿Alumno o Profesor?" #extensioncorreo="ngModel" [(ngModel)]="credenciales.rawExtension" name="extensioncorreo">
                <ion-select-option value="alumno">@duocuc.cl</ion-select-option>
                <ion-select-option value="profesor">@profesor.duoc.cl</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
        <ion-note *ngIf="credenciales.correo" slot="error">Correo inválido. Utiliza uno institucional</ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="floating">RUT</ion-label>
        <ion-input #rut="ngModel" [(ngModel)]="credenciales.rut" type="text"
          pattern="(([0-9]{1,2})\.([0-9]{3})\.([0-9]{3})-([0-9]|k)|([0-9]{8}[0-9|k]{1}))" required name="rut" clear-input mode="ios"
          placeholder="20.919.721-9" (ionBlur)="formatString('rut')"></ion-input>
        <ion-note *ngIf="credenciales.rut" slot="error">RUT inválido</ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input #nombre="ngModel" [(ngModel)]="credenciales.nombre" type="text" name="nombre" mode="ios" required
          clear-input pattern="([a-zA-ZñÑÀ-ÖØ-öø-ÿ ]+)"></ion-input>
        <ion-note *ngIf="credenciales.nombre" slot="error">No ingreses símbolos en tu nombre</ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input (ionChange)="checkPasswords()" #contrasena="ngModel" [(ngModel)]="credenciales.contrasena" type="password" name="contrasena"
          mode="ios" required clear-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input (ionChange)="checkPasswords()" type="password" name="contrasena2" #contrasena2="ngModel" [(ngModel)]="credenciales.contrasena2"
          mode="ios" required clear-input></ion-input>
        <ion-note *ngIf="!checkPasswords()" slot="error">Las contraseñas no coinciden</ion-note>
      </ion-item>
      <ion-item>
        <ion-checkbox (ionChange)="conductorChange()" slot="start" [(ngModel)]="credenciales.conductor"
          name="conductor"></ion-checkbox>
        <ion-label>¿Eres conductor?</ion-label>
      </ion-item>
      <ion-item class="patenteInput">
        <ion-label position="floating">Patente</ion-label>
        <ion-input (ionBlur)="formatString('patente')" #patente="ngModel" [(ngModel)]="credenciales.patente" type="text" name="patente" mode="ios"
          clear-input pattern="([a-zA-ZñÑ]{2})-(([a-zA-ZñÑ]|[0-9]){2})-([0-9]{2})" placeholder="aa-bb-12"></ion-input>
        <ion-note *ngIf="credenciales.patente" slot="error">Patente inválida</ion-note>
      </ion-item>
      <ion-item>
        <ion-checkbox required slot="start" #condiciones="ngModel" [(ngModel)]="credenciales.condiciones"
          name="condiciones"></ion-checkbox>
        <ion-label><a>¿Aceptas los términos y condiciones?</a></ion-label>
        <ion-note *ngIf="!credenciales.condiciones" slot="helper" style="color: var(--highlight-color-invalid) !important;">Debes aceptar los términos y condiciones.</ion-note>
      </ion-item>
      <ion-button id="open-modal" expand="block" class="ion-margin-top crear-cuenta" (click)="lastStepRegistration()" [disabled]="registerform.invalid || !condiciones.value">
        Crear Cuenta
      </ion-button>
      <!-- Modal -->
      <ion-modal trigger="open-modal" #modal name="modal" id="modal">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="modalActions('close')">Cancelar</ion-button>
              </ion-buttons>
              <ion-title>Completar Registro</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <p>Se ha enviado un código al correo {{credenciales.correo}}{{credenciales.extension}}</p>
              <ion-label position="stacked">Ingresa el Código</ion-label>
              <ion-input type="text" placeholder="XXXXXX" #inputcodigo="ngModel" [(ngModel)]="credenciales.codigo" name="inputcodigo"></ion-input>
            </ion-item>
            <ion-button (click)="register()" expand="block" fill="clear" shape="round">
              Confirmar
            </ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
      <!-- Fin Modal -->
    </form>
  </div>
</ion-content>