.page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-body:nth-child(1) {
    font-size: 4vh;
    font-weight: 600;
    margin-top: 2vh;
}

.registrarse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 4vh;
}

.correo-input {
    display: flex;
    flex-direction: row;
}

.patenteInput {
    display: none;
}

.crear-cuenta {
    align-self: center;
    justify-self: center;
    --background: #8BEA7B;
    --color: #000000;
    --border-radius: 2vh;
    font-size: 2vh;
    font-weight: 600;
    margin-top: 4vh;
}

.formControl-errormsg {
    color: red;
    font-size: 2vh;
}

.formControl-erroricon {
    align-self: center;
    justify-self: center;
    width: 2vh;
    height: 2vh;
}